.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background-color: var(--beige);
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    transform: translate(-50%, -50%);
    opacity: 0.9;
}
.custom-cursor.white{ background: #fff; }

.sidepj-overlay{
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    border-radius: 10px;
}
.mobile{ display: none; }

@media (max-width:768px) {
    .mobile{ display: block; }

    .custom-cursor {
        visibility: hidden;
    }
}