@font-face {
    font-family: 'Droid Serif';
    font-weight: 400;
    src: url(/assets/fonts/tDbK2oqRg1oM3QBjjcaDkOr4nAfcHi6FRUI.woff2) format('woff2');
}
@font-face {
    font-family: 'Droid Serif';
    font-weight: 700;
    src: url(/assets/fonts/tDbX2oqRg1oM3QBjjcaDkOr4lLz5CwOnSGjW7BA.woff2) format('woff2');
}
@font-face {
    font-family: 'Droid Serif';
    font-weight: 400;
    src: url(/assets/fonts/tDbI2oqRg1oM3QBjjcaDkOr9rAXWGQyH.woff2) format('woff2');
}
@font-face {
    font-family: 'Droid Serif';
    font-weight: 700;
    src: url(/assets/fonts/tDbV2oqRg1oM3QBjjcaDkOJGiRD7OwGtT0rU.woff2) format('woff2');
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}