body{
    background: var(--dark);
    color: var(--beige);
    overflow-x: hidden;
    cursor: none;
    transition: .5s;
    text-rendering: optimizeLegibility;
}
body.begie {
    background: var(--beige);
    color: var(--dark);
    transition: .5s;
}
.main-wrapper{ max-width: 100%; }

/* intro section */
.intro-sec{ position: relative; }
.intro-overlay{
    position: absolute;
    background: url(../img/Grey_Icons.png) no-repeat;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}
.intro-sec .intro-inner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.intro-sec .intro-inner .intro-tx{
    margin-bottom: 50px;
    font-size: 10vw;
    font-weight: 700;
}
.intro__ic-scrolldown{
    position: absolute;
    bottom: 0;left: 50%;
    width: 100%;
    transform: translate(0, -50%);
    animation: scrolldown 2s infinite ease-in;
    animation-duration: 3s;
}
@keyframes scrolldown {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

/* about section */
.about-sec{ 
    position: relative;
    height: 80vh;
}
.about-inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}
.about-inner .about-left-block{
    font-size: 5vw;
    font-weight: 700;
    text-transform: uppercase;
}
.about-inner .about-right-block{
    font-size: 1.3em;
    margin-left: auto;
    text-align: right;
    line-height: 1.5;
}
.lottie-block {
    position: absolute;
    bottom: 70px;right: 400px;
}

/* project section */
.projects-sec{
    position: relative;
    height: 300vh;
    padding: 0 100px;
}
.projects-inner{
    position: sticky;
    display: flex;
    top: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    gap: 50px;
}
.projects-tit{
    font-size: 4em;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
}
.projects-tit-subtit{
    font-size: .3em;
    font-weight: 500;
    line-height: 1.5;
}
.projects-inner .projects-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.projects-inner .projects-item{
    position: relative;
    width: 70vw;
    min-height: 60vh;
    max-height: 60vh;
    border-radius: 50px;
    border: 2px solid var(--beige);
    overflow: hidden;
}
.projects-inner .projects-link{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.projects-inner .projects-item:hover .project-img-block img{ transform: scale(1.1); }
.ssg-img{ background-position: 100px 10px; }
.project-img-block video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-img-block{
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}
.project-img-block img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -10;
}
.projects-inner .projects-link img{ transition: .5s ease; }
.projects-inner .projects-link .project-img-block::before{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.project-tx-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5vw;
}
.project-tx-block .pj-tit{
    text-align: center;
    font-size: 2vw;
    margin-bottom: 5vw;
    padding-bottom: 10px;
    font-weight: 700;
    width: 100%;
    border-bottom: 1px solid var(--beige);
}
.pj-tag-list{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    width: 100%;
}
.pj-tag-item{
    font-size: 1em;
    opacity: 0.7;
}
.pj-tag-item.percent{ 
    display: block;
    opacity: 1; 
}
.pj-tag-item.percent span{ font-weight: 700;}
.projects-sec .btn-weblink{
    margin-left: auto;
    margin-top: 10px;
}
.btn-weblink{
    padding: 15px 50px;
    font-size: 1em;
    border-radius: 20px;
    transition: .3s;
}
.btn-weblink.sitelink{
    background: var(--beige);
    color: var(--dark);
}
.btn-weblink.codereview{
    background: var(--dark);
    color: var(--beige);
    border: 1px solid var(--beige);
}
.btn-weblink:hover{
    background: #fff;
    color: #000;
}

/* sidepj section */
.sidepj-sec{ height: 200vh; }
.sidepj-sec .sidepj-inner{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 200px 100px;
}
.sidepj-inner .projects-tit h2{ margin-bottom: 50px; }
.sidepj-content-list{ 
    display: flex;
    padding-top: 100px;
}
.sidepj-item{
    position: relative;
    width: 30vw;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
}
.sidepj-item-bg{
    position: absolute;
    top: 0;left: 0;bottom: 0;right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: -10;
    transition: .3s;
}
.sidepj-item:hover .sidepj-item-bg{ transform: scale(1.1); } 
.sidepj-item:first-child{ margin-left: 50px; }
.sidepj-item:last-child{ margin-left: auto; }
.sidepj-tx-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
    height: 100%;
}
.sidepj-item-tit{
    flex: 1;
    padding-top: 50%;
    font-size: 3vw;
    font-weight: 700;
    z-index: 10;
    color: var(--beige);
}
.sidepj-subtit{ 
    position: absolute;
    bottom: 15%; left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sidepj-subtit-tx{
    font-family: 'Pretendard-Regular';
    line-height: 5vh;
    font-size: 1.2vw;
    font-weight: 500;
    margin-bottom: 40px;
}
.sidepj-subtit .sitelink{ border: 1px solid #000; }
.sidepj-tag-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 5px;
    text-align: center;
    width: 100%;
    padding: 10px;
    background: var(--dark);
    color: var(--beige);
    z-index: 10;
    opacity: 0.7;
    border-radius: 10px;
}
.sidepj-tag-list .sidepj-tag-item.percent{
    border: 1px solid var(--beige);
    font-weight: 700;
}
.ht_logo_img{
    position: absolute;
    top: 0;left: 20px;
    width: 100px;
    height: 100px;
}

@media (min-width:769px) {
    .sidepj-item-btn-block{ display: none; }
}
/* mobile */
@media (max-width:768px) {
    body{ 
        min-width: 320px;
        overflow-x: hidden;
    }
    .intro-sec .intro-inner .intro-tx{
        margin-bottom: 20%;
        font-size: 19vw;
    }

    /* about section */
    .about-inner .about-left-block{ font-size: 10vw; }
    .about-inner .about-right-block{ 
        text-align: left;
        font-size: .7em; 
        width: 100%;
    }
    .lottie-block { display: none; }

    /* project section */
    .projects-sec{
        position: relative;
        height: 300vh;
        padding: 20px;
    }
    .projects-tit{ font-size: 7vw; }
    .btn-weblink{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        font-size: 3vw;
        width: 100%;
    }
    .project-tx-block .pj-tit{
        display: flex;
        font-size: 1.2em;
    }
    .pj-subtit{ font-size: .8em; }
    .pj-tag-list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,auto);
        gap: 0;
    }
    .pj-tag-item{
        font-size: .7em;
        opacity: 0.7;
    }

    /* sidepj section */
    .sidepj-sec{ 
        height: 200vh;
        padding: 0px; 
    }
    .sidepj-sec .sidepj-inner{ padding: 100px 20px; }
    .sidepj-item{
        width: 100%;
        height: 50vh;
        border: 2px solid var(--beige);
    }
    .sidepj-subtit{ display: none; }
    .sidepj-sec .projects-tit-subtit{
        font-size: .4em;
        white-space:inherit;
        font-weight: 500;
        line-height: 1.5;
    }
    .sidepj-item-tit{
        display: flex;
        align-items: center;
        padding-top: 0%;
        font-size: 2em;
    }
    .sidepj-tx-block{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        z-index: 10;
    }
    .sidepj-item-btn-block{
        padding: 20px;
        width: 100%;
    }
    .sidepj-content-list{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 100px;
    }
    .sidepj-item:first-child{ margin-left: 0px; }
    .btn-weblink.codereview{ margin-top: 10px; }
}